extends layout

block content
  header Management
  hr
  for rest in rests
    div.adminRests
      p= rest.name
      p Rating: 
      div.rating.adminRating
        -var rating = rest.rating
        -for(var i = 0; i < rating; i++)
          i.fa.fa-star.yellow
      a.button(href='/admin/employees/'+rest.id+'/edit') Edit
      a.button.red(href='/rests/'+rest.id+'/delete') Delete
    hr
      
      
