* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  font: 5vw "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header {
  height: 10vh;
  line-height: 10vh;
  font-size: 7vh;
  text-align: center;
  background-color: #7ac480;
  color: #3c3a39;
  position: relative;
}



/*Index*/
.goToNew {
  width: 20vw;
  height: 3vh;
  line-height: 3vh;
  text-decoration: none;
  font-size: 2vh;
  color: white;
  bottom: .5vh;
  right: .5vw;
  position: absolute;
}

.restoContainer {
  height: 30vw;
  width: 30vw;
  margin-left: 2.66vw;
  margin-top: 2.66vw;
  background-color: #e1e1e1;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 4px 7px 12px rgba(0,0,0,.5);
  color:#3c3a39;
  float: left;
  position: relative;
}

.padL {
  padding-left: .5vw;
}

.padR {
  padding-right: .5vw;
}

.hiddenLink {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  position: absolute;
}
/**/
.restoName{
  height: 5vw;
  line-height: 5vw;
  font-size: .6em;
  color: #747474;
}
/**/
.restoImg {
  height: 16vw;
  width: 100%;
  display: block;
}
/**/
.restoCuisine {
  height: 5vw;
  line-height: 5vw;
  font-size: .4em;
}

/**/
.restoBottom {
  height: 5vw;
  width: 100%;
}

.restoLocation {
  height: 5vw;
  line-height: 2.5vw;
  width: 60%;
  font-size: .3em;
  float: left;
}

.restoRating {
  width: 40%;
  height: 5vw;
  line-height: 2.5vw;
  font-size: .4em;
  color: yellow;
  text-align: right;
  float: left;
}



/*Show Page*/
.showImage {
  margin-top: 9vw;
  margin-left: 2vw;
  padding: 10px;
  width: 48vw;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 4px 7px 12px rgba(0,0,0,.5);

  float: left;
}

.showRight {
  margin-top: 5vw;
  padding-left: 4vw;
  width: 50vw;
  float: left;
}

.showText {
  color: gray;
  font-size: 3.5vw;
  font-style: italic;
}

.buttonsDiv {
  width: 100%;
  background: red;
}

.button {
  width: 15vw;
  height: 5vw;
  line-height: 5vw;
  margin-top: 5vh;
  margin-right: 3vw;
  text-align: center;
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-size: 2vmin;
  border: 1px solid black;
  background: hsla(120,50%,50%, 1);
  float: left;
}

/*form {
  position: relative;
}*/


.red {
  background-color: red;
}

.yellow {
  color: yellow;
}

.newForm {
  font-size: 12px;
}

fieldset {
  padding: 2vw;
  margin: 40px;
  position: relative;
}

fieldset > * {
  margin-top: 20px;
}

.block {
  display: block;
}

.radio {
  margin-right: 10px;
}

.margRight12 {
  margin-right: 12px;
}

.margTop0 {
  margin-top: 0;
}

.btns {
  position: absolute;
  bottom: 2vh;
  right: 1vw;
}

.adminRests {
  height: 14vmin;
  line-height: 14vmin;
  font-size: 2.5vmin;
  padding-left: 1vw;
  background-color: lightgray;
}

.adminRests > * {
  display: inline-block;
  float:none;
  margin: 0 1vw;
}

.adminRests > :first-child {
  min-width: 37vw;
}

.adminRating {
  width: 12vw;
}

.position {
  width: 35vw;
}

.newEmployee {
  margin-left: 78vw;
  margin-top: 4vh;
}
